<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homework 04</title>
</head>

<body>
    <h1>Task 02</h1>
    <p>After the user clicks the button to get the first 10 planets, a button should be shown below the table that says:
        NEXT 10. When the button is clicked you should make another call and get the next 10 planets and change the
        table contents with information about the next 10 planets. After the next 10 planets are shown the button NEXT
        10 should disapear and a new button PREVIOUS 10 should appear. The previous button should return the first 10
        planets in the table and hide the PREVIOUS 10 button and show the NEXT 10 button. Note: Use Arrow functions
        **API URL: ** https://swapi.dev/api/planets/?page=2</p>

    <h2>The result:</h2>
    <div id="resultTwo">
        <button id="myButton">Click here to get the first 10 Planets</button>
        <table id="myTable"></table>
        <button id="myButtonNext">Click here to get the next 10 Planets</button>
        <button id="myButtonPrevious">Click here to get the previous 10 Planets</button>

        
    </div>
    <script src="https://code.jquery.com/jquery-3.6.0.js"
        integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    <script src="../Scripts/Task-02.js">

    </script>
</body>

</html>